.body {
	background-color: #DDD;
}

.div {
	background-color: #DDD;
	margin: auto;
	text-align: center;
}

.div_ {
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	text-align: center;
}

.span {
	text-align: center;
	display: inline-block;
}

.a {
	width: 100%;
	margin: 10px;
}

.ol {
	text-align: center;
	margin: auto;
	max-width: 100px;
}

.button {
	background-color: #CCC;
	border: 1px solid #767676;
	border-radius: 3px;
	padding: 2px 7px;
	text-align: center;
}

.container {
	display: flex;
	width: 150px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color:;
}

.container_ {
	display: flex;
	width: 75px;
	justify-content: center;
	align-items: center;
	text-align: center;
}